.sortingVisualizerContainer {
  border: 1px solid;
  height: calc(100% - 2px);
}

.sortingName {
  height: calc(5% - 2px);
}

.sortingVisualizer {
  display: flex;
  height: calc(90% - 2px);
  border: 1px solid;
  margin: 1vh 5vh 0 5vh;
}

.column {
  display: inline-block;
  border: 1px solid deepskyblue;
  margin: 0;
  align-self: flex-end;
}

.column span {
  writing-mode: vertical-rl;
  text-orientation: sideways;
  margin: 0;
  padding: 5px 0 0;
  letter-spacing: 0px;
}
